body {
  background:#f3f3f3;
  color:#333;
  width:100%;
  font-family:san-serif;
  margin:0 auto;
}

.header{
  width:90%;
  margin:auto;
  height:120px;
  line-height:120px;
  background:#008b8b;
  color:#fff;
}
.jarak{
    padding:0 2pc;
}
.men{
  background-color:#008b8b;
  height:50px:
  line-height:50px;
  position:relative;
  width:90%;
  margin:0 auto;
  padding:0 auto;
}









