body {
  background:#f3f3f3;
  color:#0000FF;
  width:100%;
  font-family:san-serif;
  margin:0 auto;
}

.header{
  width:90%;
  margin:auto;
  height:120px;
  line-height:120px;
  background:#41aa8;
  color:#ffffff;
}





