body
{
  background:#0000ff;
  color:#000000;
  width:100%;
  font-family:san-serif;
;

{

.header{
  width:90%;
  margin:auto;
  height:120px;
  line-height:120px;
  background:#41aa8;
  color:#00008B;
}


